@use '../utilities/all' as *;

.output {
  background-color: var(--input-background);
  margin-bottom: 50px;
  border-radius: 7px;
  box-shadow: var(--shadow);

  @include view-below(sm) {
    margin-bottom: 16px;
  }
}