// colors
// Light theme
:root {
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --body-background: hsl(0, 0%, 98%);
  --input-background: hsl(0, 0%, 100%);
  --circle-border: hsl(233, 11%, 84%);
  --placeholder-text: hsl(236, 9%, 61%);
  --input-text: hsl(235, 19%, 35%);
  --completed-text: hsl(236, 33%, 92%); 
  --shadow: 0 15px 30px rgba(92, 92, 92, 0.1); 

  // theme images
  --background-dekstop: url('../images/bg-desktop-light.jpg');
  --background-mobile: url('../images/bg-mobile-light.jpg');
  --theme-icon: url('../images/icon-moon.svg');
}

:root.dark {
  --body-background: hsl(240, 20%, 12%);
  --input-background: hsl(235, 24%, 19%);
  --circle-border: hsl(233, 14%, 35%);
  --placeholder-text: hsl(234, 11%, 52%);
  --input-text: hsl(234, 39%, 85%);
  --completed-text: hsl(233, 14%, 35%);
  --shadow: 0 20px 35px rgba(7, 7, 7, 0.226); 

  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --text-hover: hsl(236, 33%, 92%);
  --Very-Dark-Grayish-Blue-hover: hsl(237, 14%, 26%);
  
  // theme images
  --background-dekstop: url('../images/bg-desktop-dark.jpg');
  --background-mobile: url('../images/bg-mobile-dark.jpg');
  --theme-icon: url('../images/icon-sun.svg');
}